<div>
    <ion-modal-view>
        <ion-header-bar align-title="center">
            <h2 class="title">Give! Charity App</h2>
        </ion-header-bar>
        <ion-content>
            <div class="modal-container">
                <div class="modal-text-container">
                    <span class='modal-text'>Posptone Updates</span>
                    <button ng-click="closeModal()" class="close-modal button button-icon icon ion-close"></button>
                </div>
                <div ng-include src="'app/shared/reminder/reminder.html'"></div>
            </div>
        </ion-content>
    </ion-modal-view>
</div>
